<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="introFormGroup">
    <form>
      <ng-template matStepLabel>Begin</ng-template>
      <mat-card class="section-container">
        <div class="cloud-image col-md-4">
          &nbsp;
        </div>
        <div class="banner-text col-md-6">
          <span>Bring up your secure <span class="datacenter" matTooltip="Also called Landing Zones, Virtual Private Cloud etc. The entire
            infrastructure foundation required for hosting Enterprise IT can be programmed. 
            This wizard takes the design inputs and builds the Minimum Viable Cloud">Datacenter</span> in Cloud in 25 mins!</span>
          <br>
          <mat-form-field class="csp-input">
              <mat-select name="csp" [(ngModel)]="outJson.csp" placeholder="Select the Cloud Service Provider">
                  <mat-option *ngFor="let csp of csps" [value]="csp.value">
                    {{csp.name}}
                  </mat-option>
                </mat-select>
          </mat-form-field>
          <div class="action-buttons">
            <button mat-button matStepperNext>Next</button>
          </div>
        </div>
      </mat-card>
    </form>
  </mat-step>
  <mat-step [stepControl]="designInputsFormGroup">
    <form>
      <ng-template matStepLabel>Design Inputs</ng-template>
      <mat-card class="design-inputs-container">
        <mat-form-field>
          <input matInput placeholder="Organization" name="org" [(ngModel)]="outJson.org" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Organization Prefix" name="orgPrefix" [(ngModel)]="outJson.orgPrefix" required>
        </mat-form-field>
        <mat-label>Accounts</mat-label>

        <table mat-table [dataSource]="accountList" class="accounts-table mat-elevation-z3">
            <ng-container matColumnDef="accountName">
              <th mat-header-cell *matHeaderCellDef> Account Name </th>
              <td mat-cell *matCellDef="let element; let i = index"> 
                  <input matInput name="element.{{i}}.accountName" [(ngModel)]="element.accountName" placeholder="Account Name">
              </td>              
            </ng-container>
            <ng-container matColumnDef="roleName">
              <th mat-header-cell *matHeaderCellDef> Role Name </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{element.roleName}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> Email </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="billing">
              <th mat-header-cell *matHeaderCellDef> Billing </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{element.billing}} </td>
            </ng-container>
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef> Type </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{element.type}} </td>
            </ng-container>
            <ng-container matColumnDef="tags">
              <th mat-header-cell *matHeaderCellDef> Tags </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{element.tags}} </td>
            </ng-container>
            <ng-container matColumnDef="actionsColumn">
                <th mat-header-cell *matHeaderCellDef> Remove </th>
                <td mat-cell *matCellDef="let element; let i = index"> 
                  <button (click)="removeAccount(i)" color="primary" mat-icon-button>
                    <mat-icon>close</mat-icon>
                  </button>
                </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns.accounts"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns.accounts;"></tr>
          </table>
          <button (click)="addAccount()" color="primary" mat-icon-button>
              <mat-icon>add</mat-icon>
          </button>
        <div class="action-buttons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-card>
    </form>
  </mat-step>
  <mat-step [stepControl]="vpcConfigurationFormGroup">
    <form [formGroup]="vpcConfigurationFormGroup">
      <ng-template matStepLabel>Configure Services</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" formControlName="vpcConfigurationCtrl" required>
      </mat-form-field>
      <div class="action-buttons">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="reviewFormGroup">
      <form [formGroup]="reviewFormGroup">
        <ng-template matStepLabel>Review Design</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="reviewCtrl" required>
        </mat-form-field>
        <div class="action-buttons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  <mat-step>
    <ng-template matStepLabel>Authenticate & Create</ng-template>
    Provide your credentials to provision
    <div class="action-buttons">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>