<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="introFormGroup">
    <form>
      <ng-template matStepLabel>Begin</ng-template>
      <mat-card class="section-container">
        <div class="cloud-image col-md-4">
          &nbsp;
        </div>
        <div class="banner-text col-md-6">
          <span>Bring up your secure <span class="datacenter" matTooltip="Also called Landing Zones, Virtual Private Cloud etc. The entire
            infrastructure foundation required for hosting Enterprise IT can be programmed. 
            This wizard takes the design inputs and builds the Minimum Viable Cloud">Datacenter</span> in Cloud in 25 mins!</span>
          <br>
          <mat-form-field class="csp-input">
              <mat-select name="csp" [(ngModel)]="outJson.csp" placeholder="Select the Cloud Service Provider">
                  <mat-option *ngFor="let csp of csps" [value]="csp.value">
                    {{csp.name}}
                  </mat-option>
                </mat-select>
          </mat-form-field>
          <div class="action-buttons">
            <button mat-button matStepperNext>Next</button>
          </div>
        </div>
      </mat-card>
    </form>
  </mat-step>
  <mat-step [stepControl]="designInputsFormGroup">
    <form>
      <ng-template matStepLabel>Design Inputs</ng-template>
      <mat-card class="design-inputs-container">
        <mat-form-field>
          <input matInput placeholder="Organization" name="org" [(ngModel)]="outJson.org" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Organization Prefix" name="orgPrefix" [(ngModel)]="outJson.orgPrefix" required>
        </mat-form-field>
        <mat-label class="section-title">Accounts</mat-label>

        <mat-card *ngFor="let item of accountList; index as i;" class="table-row">
          <mat-form-field class="cell">
            <input matInput [name]="item.accountName" [(value)]="item.accountName" placeholder="Account Name" required>
          </mat-form-field>
          <mat-form-field class="cell">
            <input matInput name="item.roleName" [(value)]="item.roleName" placeholder="Role Name">
          </mat-form-field>
          <mat-form-field class="cell email">
            <input matInput name="item.email" [(value)]="item.email" placeholder="email">
          </mat-form-field>
          <mat-form-field class="cell">
              <mat-select placeholder="Billing" [(value)]="item.billing">
                  <mat-option [value]="true">true</mat-option>
                  <mat-option [value]="false">false</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field class="cell">
              <mat-select placeholder="Account Type" [(value)]="item.accountType">
                  <mat-option *ngFor="let acc of accountTypeOptions" [value]="acc.value">{{acc.viewValue}}</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field class="cell">
            <input matInput name="item.tags" [(value)]="item.tags" placeholder="Tags">
          </mat-form-field>
          <button (click)="removeAccount(i)" color="primary" mat-icon-button>
            <mat-icon>close</mat-icon>
          </button>
        </mat-card>
          <button (click)="addAccount()" color="primary" mat-icon-button>
              <mat-icon>add</mat-icon>
          </button>

          <mat-label class="section-title">VPCs</mat-label>          
          <mat-card *ngFor="let item of vpcList; index as i; trackBy: trackElement" class="table-row">
              <mat-form-field class="cell">
                <input matInput [name]="item.name" [(ngModel)]="item.name" [(value)]="item.name" placeholder="Name" [ngModelOptions]="{standalone: true}" required>
              </mat-form-field>
              <mat-form-field class="cell">
                <input matInput name="item.cidrBlock" [(value)]="item.cidrBlock" placeholder="CIDR Block">
              </mat-form-field>
              <mat-form-field class="cell">
                  <mat-select placeholder="DNS Support" [(value)]="item.enableDnsSupport">
                      <mat-option [value]="true">true</mat-option>
                      <mat-option [value]="false">false</mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field class="cell">
                <input matInput name="item.region" [(value)]="item.region" placeholder="Region">
              </mat-form-field>
              <mat-form-field class="cell">
                <mat-select placeholder="Instance Tenancy" [(value)]="item.instanceTenancy">
                    <mat-option *ngFor="let inst of instanceTenancyOptions" [value]="inst.value">{{inst.viewValue}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="cell">
                <input matInput name="item.tags" [(value)]="item.tags" placeholder="Tags">
              </mat-form-field>
              <button (click)="removeVpc(i)" color="primary" mat-icon-button>
                <mat-icon>close</mat-icon>
              </button>
            </mat-card>
              <button (click)="addVpc()" color="primary" mat-icon-button>
                  <mat-icon>add</mat-icon>
              </button>

              <mat-label class="section-title">VPC Peers</mat-label>          
              <mat-card *ngFor="let item of vpcPeersList; index as i;" class="table-row">
                  <mat-form-field class="cell">
                    <input matInput [name]="item.name" [(value)]="item.name" placeholder="Name" required>
                  </mat-form-field>
                  <mat-form-field class="cell">
                    <mat-select placeholder="VPC" [(value)]="item.vpcId" required>
                        <mat-option *ngFor="let vpc of vpcList; trackBy: trackElement" [value]="vpc.name">{{vpc.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="cell">
                      <mat-select placeholder="Peer VPC" [(value)]="item.peerVpcId" required>
                          <mat-option *ngFor="let vpc of vpcList; trackBy: trackElement" [value]="vpc.name">{{vpc.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
  
                    <mat-form-field class="cell">
                    <input matInput name="item.tags" [(value)]="item.tags" placeholder="Tags">
                  </mat-form-field>
                  <button (click)="removeVpcPeer(i)" color="primary" mat-icon-button>
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-card>
                  <button (click)="addVpcPeer()" color="primary" mat-icon-button>
                      <mat-icon>add</mat-icon>
                  </button>

                  <mat-label class="section-title">S3 Buckets</mat-label>          
                  <mat-card *ngFor="let item of s3list; index as i;" class="table-row">
                      <mat-form-field class="cell">
                        <input matInput [name]="item.bucketName" [(value)]="item.bucketName" placeholder="Name" required>
                      </mat-form-field>
                      <mat-form-field class="cell">
                          <mat-select placeholder="Bucket Encryption" [(value)]="item.bucketEncryption">
                              <mat-option [value]="true">true</mat-option>
                              <mat-option [value]="false">false</mat-option>
                          </mat-select>
                      </mat-form-field>                      
      
                        <mat-form-field class="cell">
                        <input matInput name="item.tags" [(value)]="item.tags" placeholder="Tags">
                      </mat-form-field>
                      <button (click)="removeS3Bucket(i)" color="primary" mat-icon-button>
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-card>
                      <button (click)="addS3Bucket()" color="primary" mat-icon-button>
                          <mat-icon>add</mat-icon>
                      </button>
    
            
          <div class="action-buttons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-card>
    </form>
  </mat-step>
  <mat-step [stepControl]="vpcConfigurationFormGroup">
    <form [formGroup]="vpcConfigurationFormGroup">
      <ng-template matStepLabel>Configure Services</ng-template>
      <mat-tab-group>
          <mat-tab *ngFor="let item of vpcList; index as i;" [label]="item.name"> 
          
          <mat-label class="tab-title">{{item.name}}</mat-label><br>
          
              <mat-label class="section-title">Subnets</mat-label><br>          
              <mat-card *ngFor="let sn of subnets[item.name]; index as j;" class="table-row">
                  <mat-form-field class="cell">
                    <input matInput [name]="sn.cidrBlock" [(value)]="item.cidrBlock" placeholder="CIDR Block" required>
                  </mat-form-field>
                    <mat-form-field class="cell">
                    <input matInput name="sn.tags" [(value)]="sn.tags" placeholder="Tags">
                  </mat-form-field>
                  <button (click)="removeSubnet(item.name,j)" color="primary" mat-icon-button>
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-card>
                  <button (click)="addSubnet(item.name)" color="primary" mat-icon-button>
                      <mat-icon>add</mat-icon>
                  </button>

          </mat-tab>
        </mat-tab-group>
      <div class="action-buttons">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="reviewFormGroup">
      <form [formGroup]="reviewFormGroup">
        <ng-template matStepLabel>Review Design</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="reviewCtrl" required>
        </mat-form-field>
        <div class="action-buttons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  <mat-step>
    <ng-template matStepLabel>Authenticate & Create</ng-template>
    Provide your credentials to provision
    <div class="action-buttons">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>