.wizard {
    margin: 0px -10px 0px -10px;
}

.banner-text {
    font-size: 28px;
    height: 200px;
    vertical-align: middle;
    display: table-cell;
    padding-left: 50px;
}
.section-container {
    display: flex;
}
.csp-input {
    width: 500px;
    font-size: 20px;
    padding-top: 20px;
}

.datacenter {
    background-color: rgb(252, 252, 244);
}
.datacenter:hover {
    cursor: help;
}
.cloud-image {
    min-width: 350px;
    min-height: 200px;
    background-image: url("../../assets/images/cloud.png");
    background-size: 100%;
}
.design-inputs-container {
    display: flex;
    flex-direction: column;
}

.mat-form-field {
    width: 40%;
}

.accounts-table {
    margin-top: 20px;
}

.mat-column-accountName {
    width: 15%;
}
.mat-column-roleName {
    width: 15%;
}
.mat-column-email {
    width: 25%;
}
.mat-column-billing {
    width: 10%;
}
.mat-column-type {
    width: 10%;
}
.mat-column-tags {
    width: 23%;
}
.mat-column-btn {
    width: 2%;
}

.cell {
    float: left;
}

mat-form-field.cell {
    width: 150px;
}
mat-form-field.cell.email {
    width: 300px;
}

.section-title {
    font-weight: bold;
}