<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="introFormGroup">
    <form>
      <ng-template matStepLabel>Begin</ng-template>
      <mat-card class="section-container">
        <div class="cloud-image col-md-4">
          &nbsp;
        </div>
        <div class="banner-text col-md-6">
          <span>Bring up your secure <span class="datacenter" matTooltip="Also called Landing Zones, Virtual Private Cloud etc. The entire
            infrastructure foundation required for hosting Enterprise IT can be programmed. 
            This wizard takes the design inputs and builds the Minimum Viable Cloud">Datacenter</span> in Cloud in 25 mins!</span>
          <br>
          <mat-form-field class="csp-input">
              <mat-select name="csp" [(ngModel)]="outJson.csp" placeholder="Select the Cloud Service Provider">
                  <mat-option *ngFor="let csp of csps" [value]="csp.value">
                    {{csp.name}}
                  </mat-option>
                </mat-select>
          </mat-form-field>
          <div class="action-buttons">
            <button mat-button matStepperNext>Next</button>
          </div>
        </div>
      </mat-card>
    </form>
  </mat-step>
  <mat-step [stepControl]="designInputsFormGroup">
    <form>
      <ng-template matStepLabel>Design Inputs</ng-template>
      <mat-card class="form-container">
        <mat-form-field>
          <input matInput placeholder="Organization" name="org" [(ngModel)]="outJson.org" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Organization Prefix" name="orgPrefix" [(ngModel)]="outJson.orgPrefix" required>
        </mat-form-field>
        <mat-label class="section-title">Accounts</mat-label>

        <mat-card *ngFor="let item of accountList; index as i;trackBy: trackElement" class="table-row">
          <mat-form-field class="cell">
            <input matInput [name]="item.accountName" [(ngModel)]="item.accountName" [(value)]="item.accountName" placeholder="Account Name" [ngModelOptions]="{standalone: true}" required>
          </mat-form-field>
          <mat-form-field class="cell">
            <input matInput name="item.roleName" [(value)]="item.roleName" placeholder="Role Name">
          </mat-form-field>
          <mat-form-field class="cell email">
            <input matInput name="item.email" [(value)]="item.email" placeholder="email">
          </mat-form-field>
          <mat-form-field class="cell">
              <mat-select placeholder="Billing" [(value)]="item.billing">
                  <mat-option [value]="true">true</mat-option>
                  <mat-option [value]="false">false</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field class="cell">
              <mat-select placeholder="Account Type"  [(value)]="item.accountType">
                  <mat-option *ngFor="let acc of accountTypeOptions" [value]="acc.value">{{acc.viewValue}}</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field class="cell">
            <input matInput name="item.tags" [(value)]="item.tags" placeholder="Tags">
          </mat-form-field>
          <button (click)="removeAccount(i)" color="primary" mat-icon-button>
            <mat-icon>close</mat-icon>
          </button>
        </mat-card>
          <button (click)="addAccount()" color="primary" mat-icon-button>
              <mat-icon>add</mat-icon>
          </button>

          <mat-label class="section-title">VPCs</mat-label>          
          <mat-card *ngFor="let item of vpcList; index as i; trackBy: trackElement" class="table-row">
              <mat-form-field class="cell">
                <input matInput [name]="item.name" [(ngModel)]="item.name" [(value)]="item.name" placeholder="Name" [ngModelOptions]="{standalone: true}" required>
              </mat-form-field>
              <mat-form-field class="cell">
                <input matInput name="item.cidrBlock" [(value)]="item.cidrBlock" [(ngModel)]="item.cidrBlock" [ngModelOptions]="{standalone: true}"  placeholder="CIDR Block">
              </mat-form-field>
              <mat-form-field class="cell">
                  <mat-select placeholder="DNS Support" [(value)]="item.enableDnsSupport">
                      <mat-option [value]="true">true</mat-option>
                      <mat-option [value]="false">false</mat-option>
                  </mat-select>
              </mat-form-field>
              <mat-form-field class="cell">
                <input matInput name="item.region" [(value)]="item.region" [(ngModel)]="item.region" [ngModelOptions]="{standalone: true}"  placeholder="Region">
              </mat-form-field>
              <mat-form-field class="cell">
                <mat-select placeholder="Instance Tenancy" [(value)]="item.instanceTenancy">
                    <mat-option *ngFor="let inst of instanceTenancyOptions" [value]="inst.value">{{inst.viewValue}}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="cell">
                <input matInput name="item.tags" [(value)]="item.tags" placeholder="Tags">
              </mat-form-field>
              <button (click)="removeVpc(i)" color="primary" mat-icon-button>
                <mat-icon>close</mat-icon>
              </button>
            </mat-card>
              <button (click)="addVpc()" color="primary" mat-icon-button>
                  <mat-icon>add</mat-icon>
              </button>

              <mat-label class="section-title">VPC Peers</mat-label>          
              <mat-card *ngFor="let item of vpcPeersList; index as i;" class="table-row">
                  <mat-form-field class="cell">
                    <input matInput [name]="item.name" [(value)]="item.name" placeholder="Name" required>
                  </mat-form-field>
                  <mat-form-field class="cell">
                    <mat-select placeholder="VPC" [(value)]="item.vpcId" required>
                        <mat-option *ngFor="let vpc of vpcList; trackBy: trackElement" [value]="vpc.name">{{vpc.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field class="cell">
                      <mat-select placeholder="Peer VPC" [(value)]="item.peerVpcId" required>
                          <mat-option *ngFor="let vpc of vpcList; trackBy: trackElement" [value]="vpc.name">{{vpc.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
  
                    <mat-form-field class="cell">
                    <input matInput name="item.tags" [(value)]="item.tags" placeholder="Tags">
                  </mat-form-field>
                  <button (click)="removeVpcPeer(i)" color="primary" mat-icon-button>
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-card>
                  <button (click)="addVpcPeer()" color="primary" mat-icon-button>
                      <mat-icon>add</mat-icon>
                  </button>

                  <mat-label class="section-title">S3 Buckets</mat-label>          
                  <mat-card *ngFor="let item of s3list; index as i;" class="table-row">
                      <mat-form-field class="cell">
                        <input matInput [name]="item.bucketName" [(value)]="item.bucketName" [(ngModel)]="item.bucketName" [ngModelOptions]="{standalone: true}" placeholder="Name" required>
                      </mat-form-field>
                      <mat-form-field class="cell">
                          <mat-select placeholder="Bucket Encryption" [(value)]="item.bucketEncryption">
                              <mat-option [value]="true">true</mat-option>
                              <mat-option [value]="false">false</mat-option>
                          </mat-select>
                      </mat-form-field>                      
      
                        <mat-form-field class="cell">
                        <input matInput name="item.tags" [(value)]="item.tags" [(ngModel)]="item.tags" [ngModelOptions]="{standalone: true}" placeholder="Tags">
                      </mat-form-field>
                      <button (click)="removeS3Bucket(i)" color="primary" mat-icon-button>
                        <mat-icon>close</mat-icon>
                      </button>
                    </mat-card>
                      <button (click)="addS3Bucket()" color="primary" mat-icon-button>
                          <mat-icon>add</mat-icon>
                      </button>
         
          <div class="action-buttons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-card>
    </form>
  </mat-step>
  <mat-step [stepControl]="vpcConfigurationFormGroup">
      <form>
    <ng-template matStepLabel>Configure Services</ng-template>
      <mat-tab-group [selectedIndex]="selectedTab">
          <mat-tab  *ngFor="let item of vpcList; index as i;" [label]="item.name">
            <mat-card class="form-container">
              <mat-label class="tab-title">{{item.name}}</mat-label>
              <mat-label class="section-title">Subnets</mat-label>          
              <mat-card *ngFor="let sn of subnets[item.name]; index as j;" class="table-row">
                  <mat-form-field class="cell">
                    <input matInput [name]="sn.cidrBlock" [(value)]="sn.cidrBlock" [(ngModel)]="sn.cidrBlock" [ngModelOptions]="{standalone: true}" placeholder="CIDR Block" required>
                  </mat-form-field>
                    <mat-form-field class="cell">
                    <input matInput name="sn.tags" [(value)]="sn.tags" [(ngModel)]="sn.tags" [ngModelOptions]="{standalone: true}" placeholder="Tags">
                  </mat-form-field>
                  <button (click)="removeSubnet(item.name,j)" color="primary" mat-icon-button>
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-card>
                  <button (click)="addSubnet(item.name)" color="primary" mat-icon-button>
                      <mat-icon>add</mat-icon>
                  </button>
                  <mat-label class="section-title">Security Groups</mat-label>        
            <mat-card *ngFor="let sg of securityGroups[item.name]; index as j;" class="table-row">
                <mat-form-field class="cell">
                  <input matInput [name]="sg.name" [(value)]="sg.name" placeholder="Name" required>
                </mat-form-field>
                <mat-form-field class="cell">
                  <input matInput [name]="sg.description" [(value)]="sg.description" placeholder="Description" required>
                </mat-form-field>
                <mat-form-field class="cell network-rules">
                  <textarea matInput [name]="sg.ingress" [(value)]="sg.ingress" placeholder="Ingress Rules" required></textarea>
                </mat-form-field>
                <mat-form-field class="cell network-rules">
                  <textarea matInput [name]="sg.egress" [(value)]="sg.egress" placeholder="Egress Rules" required></textarea>
                </mat-form-field>

                <mat-form-field class="cell">
                  <input matInput name="sg.tags" [(value)]="sg.tags" placeholder="Tags">
                </mat-form-field>
                <button (click)="removeSecurityGroup(item.name,j)" color="primary" mat-icon-button>
                  <mat-icon>close</mat-icon>
                </button>
              </mat-card>
                <button (click)="addSecurityGroup(item.name)" color="primary" mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>

                <mat-label class="section-title">Services</mat-label>         

                <mat-form-field *ngFor="let svc of services[item.name] | keyvalue" class="cell">
                    <mat-select [placeholder]="svc.key" [(value)]="svc.value">
                        <mat-option *ngFor="let s of ['enabled','disabled']" [value]="s">{{s}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-card>
            <button mat-button (click)="prevTab()">Previous VPC</button>
            <button mat-button (click)="nextTab()">Next VPC</button>
           </mat-tab>
       </mat-tab-group>
       <div class="action-buttons">
          <button mat-button matStepperPrevious>Configure Design Inputs</button>
          <button mat-button matStepperNext (click)="constructAndReview()">Review Configuration</button>
        </div>
  
      </form> 
  </mat-step>
  <mat-step [stepControl]="reviewFormGroup">
      <form [formGroup]="reviewFormGroup">
        <ng-template matStepLabel>
          <p (click)="constructAndReview()">Review Design</p>
        </ng-template>
        <mat-card class="form-container">
            <mat-label class="section-title">Landing Zone Components and Services</mat-label>
            <button mat-button (click)="constructAndReview()">
                <mat-icon>refresh</mat-icon>
            </button>          
            <mat-card><pre>{{outJsonStr}}</pre></mat-card>
            
        </mat-card>

        <div class="action-buttons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  <mat-step>
    <ng-template matStepLabel>Authenticate & Create</ng-template>
    <mat-card class="form-container">
    <mat-form-field>
      <input matInput placeholder="AWS Access Key" [(value)]="outJson.aws_access_key_id" [(ngModel)]="outJson.aws_access_key_id" required>
      <mat-icon matTooltip="1. Login to your AWS account. 2) Go to IAM. 3) Click Rotate your access keys.
        4) Click Manage User Access Keys. 5) Click Security Credentials. 6) Click Create Access Key. 
        (Note: The secret access key will be shown only at creation time, save the CSV in a secure place 
        if you need to access later) " matTooltipClass="aws-instruction">help</mat-icon>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="AWS Secret Key" [(value)]="outJson.aws_secret_access_key"  [(ngModel)]="outJson.aws_secret_access_key" required>
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Email" [(value)]="outJson.userEmail" [(ngModel)]="outJson.userEmail" required>
        </mat-form-field>
    </mat-card>
    <div class="action-buttons">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="submitRequest()">Create Landing Zone</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>